FILES/OUTPUT/*.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
FILES/INTERMEDIO/*.CSV filter=lfs diff=lfs merge=lfs -text
FILES/INPUTS/TBL_INTERACCIONES_CONSULTA_6M.csv filter=lfs diff=lfs merge=lfs -text
FILES/INTERMEDIO/06_TABLA_RESUMEN_FINAL_CON_PREFERENCIAS.CSV filter=lfs diff=lfs merge=lfs -text
FILES/OUTPUT/05_PESOS_INDICADORES_CARTERA.csv filter=lfs diff=lfs merge=lfs -text
FILES/OUTPUT/06_TABLA_RESUMEN_FINAL_CON_PREFERENCIAS.csv filter=lfs diff=lfs merge=lfs -text
FILES/OUTPUT/09_INDICADORES_CARTERA_CON_PREFERENCIA_SEGMENTO.CSV filter=lfs diff=lfs merge=lfs -text
FILES/OUTPUT/09_INDICADORES_CARTERA_SIN_PREFERENCIA_SEGMENTO.CSV filter=lfs diff=lfs merge=lfs -text
FILES/OUTPUT/06_TABLA_RESUMEN_FINAL_CON_PREFERENCIAS.CSV filter=lfs diff=lfs merge=lfs -text
